@{
    ViewData["Title"] = "RAZOR";
}

<div class="text-center">
    <h1 class="display-4">Основи синтаксису RAZOR</h1>
   
</div>
<p>Основу синтаксису Razor становить "&commat;".
    Розрізняють два режими роботи Razor:
    <ul><li>Вираз - інструкції, що мають результат і Razor "виводить" цей результат, включаючи його до HTML.</li>
        <li>Операції - інструкції без результату, Razor їх просто виконує, що дозволяє, 
            зокрема, вводити змінні, організовувати цикли, реалізовувати умовні блоки.
        </li>
        </ul>
    </p>
   <p>Вирази - найблільш вживаний спосіб Razor, у простіших випадках 
       вираз просто позначається символом "&commat;", наприклад,
       <code>&commat;ViewData["Title"] = @ViewData["Title"]</code>
       Аналізатор Razor самостійно намагається визначити межі виразу, а також
       ігнорує вирази, що за шаблоном є електронною поштою.
       user@ukr.net - не буде сприйматися як вираз.
       <br/>
       <code> &commat;ViewData["Title"]+"!" = @ViewData["Title"]+"!"</code>
       <br/>
       Для зазначення меж виразу самостійно використовуються круглі дужки ()
       <br/>
       <code> &commat;(ViewData["Title"]+"!") = @(ViewData["Title"]+"!")</code>

   </p>
   <p>
       Інструкції без результату (операції) задаються фігурними дужками (),
       або простим символом &commat;, за яким слідує один зі стандартних операторів (if, for, while)
   </p>
   
   @{
       String str = "The string";
       String[] lines=["line1", "line2", "Line3", "Line4"];
   }
   <p>&commat;str = @str</p>
   <ul>
       @foreach(String line in lines){
           String s =line+"!";
           <li>@s</li>
       }
   </ul>

   <table class="table">
       @for(int i=0; i<lines.Length; i++){
           <tr>
               <td>@i</td>
               <td>@lines[i]</td>
           </tr>
          
       }
   </table>
   <p>Razor обробляє інструкуцію за рядками, самостійно намагається визначити, які рядкі є командними,
       а які HTML-розмыткою.
       Відповідно, інструкціє є сумішшю С#-коду, який містить розмітку.
   </p>